#chat-form {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50px;
        padding: 1%;
}

#chat-text {
    border: 10px solid white;
    height: 20vh;
    overflow-y: scroll;
    background-color: white;
    border-radius: 20px;
    margin: 1% 0 0 0;
    padding: 1%;
}

#chat-input {
    border-radius: 20px;
}

.chat-message {
    margin: 0;
    padding: 0;
}
