body {
    background-color: #ff5e62;
    background: linear-gradient(0deg, #ff9966, #ff5e62);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

/* CANVAS STYLES */
.canvas-row {
    text-align: center;
    margin-top: 5vh;
}

#gameCanvas {
    border: 5px solid rgba(0, 0, 0, 1);
    background: white;
    border-radius: 20px;
}

/* NAVBAR STYLES */
.nav {
    font-family: 'Bungee', cursive;
    width: 100vw;
    color: white;
    background-color: #2C3E50;
    margin: 0;
    padding: 0 4vw;
    z-index: 999;
}

.col-logo {
    font-size: 3vmax;
}

.col-links {
    text-align: right;
}

.navItem {
    font-size: 2vmax;
    display: inline-block;
    cursor: pointer;
    margin: 2% 0 0 5vw;
}

.navItem:hover {
    text-decoration: underline;
    transform: scale(1.4);
}

a {
    color: inherit !important;
}

/* SIGN IN STYLES */
#div-signIn {
    margin: 0;
    margin-top: 20vh;
    width: 100vw;
    background-color: white;
    color: #2C3E50;
    padding: 5vh 0;
    text-align: center;
    font-size: 2.5vmax;
}

#signInUsernameTextbox {
    font-size: 3vmax;
    border: 5px solid #1b2631;
    font-weight: bold;
    color: #2C3E50;
    border-radius: 20px;
}

.btn-play {
    background: transparent;
    border: 5px solid #1b2631;
    border-width: 5px 10px 10px 5px;
    background-color: #2C3E50;
    color: white;
    font-size: 4vmax;
    cursor: pointer;
    border-radius: 20px;
    padding: 0;
    font-weight: bold;
    font-family: 'Bungee', cursive;
    padding: 0 1vw;
    margin: 2vh 0 0 0;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.btn-play:hover {
    background-color: #1b2631;
    transform: scale(1.1);
}

/* DISPLAYS */
.hidden {
    display: none;
}
