<!-- Map Editor -->
<div id="mapEditDiv" class="hidden">
    <div class="row">
        <div class="col-md-12">
            <span class="menuTitle">Map Editor</span><br>
            <div id="mapEditTiles"></div>
        </div>
    </div>

    <div class="row">
        <div id="tileSelect" class="col-md-8">
        </div>
        <div class="col-md-2">
            <canvas id="editPreviewTile" width="128" height="128"></canvas>
        </div>
        <div class="col-md-2">
            <input id="tbMapName" class="form-control" type="text">
            <button class="btn venButton venButtonGreen" onclick="saveMap('', true)">Save</button>
            <button class="btn venButton venButtonOrange" onclick="cancelMapEdit()">Cancel</button>
        </div>
    </div>
</div>