#inventoryDiv {
  right: 0.1vmax;
  bottom: 0.1vmax;
  text-align: left;
  width: 10vw;
  border-radius: 5px;
  padding: 0.1vh 0.1vw;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(0, 0, 0, 0.7); }

.invTitle {
  font-size: 1vmax;
  color: rgba(230, 230, 230, 0.9); }

.invArea {
  background-color: transparent;
  max-height: 11vh;
  height: 11vh;
  border-radius: 5px;
  overflow-y: scroll; }

.invItemCanvas {
  border-radius: 10px;
  background-color: rgba(230, 230, 230, 0.9);
  margin: 1px; }
