#navbar .nav {
    font-family: "Roboto", cursive;
    width: 100vw;
    margin: 0;
    padding: 0 10vw;
    z-index: 999;
    color: #D3D2CD;
    background: #212121;
    background: url("/resources/img/dark_wall.png");
}

.navLogo {
    font-weight: bold;
}

.navItem {
    font-size: 1.2vmax;
    cursor: pointer;
    transition: ease 0.5s all;
    padding: 0.75vh 2vw;
    display: inline-block;
}

.navItem:hover {
    background: #CD412B;
    color: white;
}

#navbar a, #navbar a:hover, #navbar a:active, #navbar a:visited {
    all: unset;
    cursor: pointer;
}

.navLabel {
    padding: 1.5vh 2vw;
    display: inline-block;
}

#navPlayerCount {
    color: #CD412B;
}