/* CHAT STYLES */
#chatDiv {
  font-family: "Arial Narrow", sans-serif !important;
  width: 30vw;
  text-align: left;
  color: whiteColor;
  background: transparent;
  border-radius: 20px;
  left: 0.1vmax;
  bottom: 0.1vmax; }

#chat-input {
  background: transparent;
  border: 1px solid #000000;
  border-radius: 0;
  padding: 0.2vh 0.2vw;
  font-size: 1vmax;
  color: #FFFFFF; }

#chat-input:focus {
  background: rgba(255, 255, 255, 0.2);
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000; }

#chatDiv input::-webkit-input-placeholder {
  color: #FFFFFF !important; }

#chat-text {
  background-color: transparent;
  font-size: 1vmax;
  max-height: 30vh;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
  overflow-x: hidden;
  overflow-y: hidden;
  color: #FFFFFF; }

.message-announcement {
  font-weight: bold;
  color: #CD412B; }

.message-info {
  font-weight: bold;
  color: #FFFFFF; }

/* MENU STYLES */
.menuTitle {
  font-family: "Bungee", cursive;
  font-weight: bold;
  color: inherit;
  font-size: 3vmax; }

#menuDiv {
  font-size: 2vmax;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(0, 0, 0, 0.7);
  width: 15vw;
  left: calc(50% - 7.5vw);
  top: 15vh;
  padding: 2vh 1vw;
  text-align: center; }

.menuButton {
  width: 100%;
  border: 0px solid #11181f;
  background-color: #2C3E50;
  border-width: 2px 5px 5px 2px;
  font-size: 1vmax;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 20px;
  padding: 2%;
  font-family: "Bungee", cursive;
  margin: 0; }

.menuButton:hover {
  background-color: #000000;
  transform: scale(1.1); }

/* MAP EDITOR STYLES */
#mapEditDiv {
  font-size: 1.5vmax;
  color: #FFFFFF;
  background: #000000;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2vh 1vw;
  text-align: left; }

#tileSelect {
  overflow-y: scroll; }

.tileSelectCanvas {
  background: #FFFFFF;
  margin: 0 3px;
  padding: 0;
  cursor: pointer;
  border: 2px solid #FFFFFF; }

#editPreviewTile {
  border: 5px solid #FFFFFF; }
