<!-- NAVBAR HTML-->
<div id="navbar">
    <div class="row nav">
        <div class="col-md-1">
            <a href="/home"><span class="navItem navLogo">Venture</span></a>
        </div>

        <div class="col-md-4">
            <span class="navLabel">Players Online: <b id="navPlayerCount">0</b></span>
        </div>

        <div class="col-md-6 col-links alignRight">
            <a href="/home"><span class="navItem">Home</span></a>
            <a href="/play"><span class="navItem">Play</span></a>
            <a href="/info"><span class="navItem">Info</span></a>
        </div>
    </div>
</div>
<script src="/js/events/navEvents.js"></script>
