<!-- NAVBAR HTML-->

<div id="navbar">
    <div class="row nav">
        <div class="col-md-6">
            <a href="/home"><span class="navItem navLogo">Venture</span></a>
        </div>

        <div class="col-md-6 col-links alignRight">
            <a href="/home"><span class="navItem">Home</span></a>
            <a href="/play"><span class="navItem">Play</span></a>
            <a href="/info"><span class="navItem">Info</span></a>
        </div>
    </div>
</div>


<!-- NAVBAR HTML-->
<style>
    #navbar .nav {
        font-family: "Roboto", cursive;
        width: 100vw;
        margin: 0;
        padding: 0 10vw;
        z-index: 999;
        color: #D3D2CD;
        background: #212121;
        background: url("/res/img/dark_wall.png");
    }

    .navLogo {
        font-weight: bold;
    }

    .navItem {
        font-size: 1.2vmax;
        display: inline-block;
        cursor: pointer;
        padding: 0.75vh 2vw;
        transition: ease 0.5s all;
    }

    .navItem:hover {
        background: #CD412B;
        color: white;
    }

    #navbar a, #navbar a:hover, #navbar a:active, #navbar a:visited {
        all: unset;
        cursor: pointer;
    }
</style>
