<div class="container-fluid">
    <!-- Sign in row -->
    <div id="div-signIn" class="animated fadeIn">
        <div class="row">
                <div class="col-md-2 offset-md-5">
                    <span class="label">Username</span>
                    <input id="signInUsernameTextbox" type="text" class="form-control alignCenter" maxlength="15" tabindex="1" autofocus>
                    <span class="label">Password</span>
                    <input id="signInPasswordTextbox" type="password" class="form-control alignCenter" maxlength="15" tabindex="2">
                    <button id="signInSubmitButton" class="btn menuButton venButtonGreen">Sign In</button>
                    <button id="signUpButton" class="btn menuButton venButtonOrange">Sign Up</button>
                </div>
        </div>
    </div>

    <!-- Canvas row -->
    <div id="div-game" class="animated fadeIn hidden">
        <!-- Game canvas row -->
        <div class="row canvas-row">
            <div class="col-md-12">
                <div id="canvasContainer">
                    <canvas id="gameCanvas">Error - canvas not supported on your browser.</canvas>
                    <!-- Chat row -->
                    <div id="chatDiv" class="onGameCanvas">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="chat-text">
                                </div>
                                <form id="chat-form" novalidate>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <input id="chat-input" type="text" class="form-control hidden" placeholder="Type message here.." required autocomplete="off">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Menu -->
                    <div id="menuDiv" class="onGameCanvas hidden animated bounceIn">
                        <div class="row">
                            <div class="col-md-12">
                                <span class="menuTitle">Menu</span><br>

                                <!-- Menu buttons -->
                                <button class="btn menuButton">Help</button>
                                <button class="btn menuButton">Settings</button>
                                <button class="btn menuButton">Bug Report</button>
                                <button class="btn menuButton" onclick="signOut()">Sign Out</button>
                            </div>
                        </div>
                    </div>

                    <!-- Inventory -->
                    <div id="inventoryDiv" class="onGameCanvas">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Inventory -->
                                <span class="invTitle">Inventory</span>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="invInventoryItemsDisplay" class="invArea">
                                        </div>
                                    </div>
                                </div>

                                <!-- Ground items -->
                                <span class="invTitle">Ground Items</span>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="invGroundItemsDisplay" class="invArea">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../js/managers/utils.js"></script>
<script src="../../js/managers/htmlComponentLoader.js"></script>
<script src="../../js/classes/Client.js"></script>

<!-- Resources -->
<script src="../../js/classes/Sprite.js"></script>
<script src="../../js/classes/ResourceManager.js"></script>

<!-- UI -->
<script src="../../js/classes/UI/UIItem.js"></script>
<script src="../../js/classes/UI/UIManager.js"></script>

<script src="../../js/init.js"></script>

<script src="../../js/events/events_input.js"></script>
<script src="../../js/classes/GameCamera.js"></script>
