#inventoryDiv {
    right: 0;
    bottom: 0;
    text-align: left;
    width: 10vw;
    border-radius: 5px;
    margin: 1vh;
    padding: 1vh;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.9);
}

.invTitle {
    font-size: 1vmax;
    color: rgba(230, 230, 230, 0.9);
}

.invArea {
    background-color: rgba(30, 30, 30, 0.6);
    max-height: 11vh;
    height: 11vh;
    border-radius: 5px;
    overflow-y: scroll;
}

.invItemCanvas {
    border-radius: 10px;
    background-color: #999999;
    margin: 1px;
}