@import "globals";

/* Detail Card Styles */
#detailCardDiv { 
    top: $uiEdgePadding;
    left: $uiEdgePadding;
    text-align: left;
    min-width: 12vw;
    border-radius: 5px;
    padding: $defaultUiPadding;
    background-color: $transparentBlackColor;
    border: 2px solid darken($transparentBlackColor, $borderDarkenPercent);
    color: $dullWhiteColor;
    padding: 0 0.3vmax;
}

.statLabel, .statValue {
    display: inline-block;
    line-height: 0;
    padding: 0;
    margin: 0;
}

#mainTitle {
    font-size: $uiTitleFontSize;
}

#subTitle {
    font-size: $uiMedFontSize;
    font-style: italic;
}

#detailCardDiv span {
    display: inline-flex;
    line-height: 1em;
}

.statLabel {
    font-size: $uiMedFontSize;
    font-weight: bold;
}

.statValue {
    font-size: $uiSmallFontSize;
    color: #ffffff;
}

#statLabelHP {
    color: #e60000;
}

#statLabelRegen {
    color: #e65c00;
}

#statLabelAttack {
    color: #e6005c;
}

#statLabelDefence {
    color: #008ae6;
}

#statLabelDexterity {
    color: #e68a00;
}

#statLabelSpeed {
    color: #00b300;
}