//Colors
$primaryColor: pink;
$secondaryColor:#CD412B;
$brightOrangeColor: #ff471a;
$brightGreenColor: #00b33c;
$whiteColor: #FFFFFF;
$blackColor: #000000;
$darkBackgroundColor: #202025;
$menuButtonColor: #2C3E50;
$transparentBlackColor: rgba(0, 0, 0, 0.7);
$dullWhiteColor: rgba(230, 230, 230, 0.9);

//Textures
$darkWallTexture: url("/resources/img/dark_wall.png");

//Fonts
$primaryFont: "Roboto", cursive;
$secondaryFont: "Bungee", cursive;
$chatFont: "Arial Narrow", sans-serif !important;

//Values
$buttonDarkenPercent: 15%;
$borderDarkenPercent: 10%;
$defaultUiPadding: 0.1vh 0.1vw;
$uiEdgePadding: 0.1vmax;
$uiSmallFontSize: 0.7vmax;
$uiMedFontSize: 0.8vmax;
$uiTitleFontSize: 1vmax;