@import "globals";

#inventoryDiv {
    right: $uiEdgePadding;
    bottom: $uiEdgePadding;
    text-align: left;
    width: 10vw;
    border-radius: 5px;
    padding: $defaultUiPadding;
    background-color: $transparentBlackColor;
    border: 2px solid darken($transparentBlackColor, $borderDarkenPercent);
}

.invTitle {
    font-size: 1vmax;
    color: $dullWhiteColor;
}

.invArea {
    background-color: transparent;
    max-height: 11vh;
    height: 11vh;
    border-radius: 5px;
    overflow-y: scroll;
}

.invItemCanvas {
    border-radius: 10px;
    background-color: $dullWhiteColor;
    margin: 1px;
}