/* CHAT STYLES */
@import "globals";

#chatDiv { 
    font-family: $chatFont;
    width: 30vw;
    text-align: left;
    color: whiteColor;
    background: transparent;
    border-radius: 20px;
    left: $uiEdgePadding;
    bottom: $uiEdgePadding;
}

#chat-input {
    background: transparent;
    border: 1px solid $blackColor;
    border-radius: 0;
    padding: 0.2vh 0.2vw;
    font-size: 1vmax;
    color: $whiteColor;
}

#chat-input:focus {
    background: rgba(255, 255, 255, 0.2);
    text-shadow: -1px 0 $blackColor, 0 1px $blackColor, 1px 0 $blackColor, 0 -1px $blackColor;
}

#chatDiv input::-webkit-input-placeholder {
    color: $whiteColor !important;
}

#chat-text {
    background-color: transparent;
    font-size: 1vmax;
    max-height: 30vh;
    text-shadow: -1px 0 $blackColor, 0 1px $blackColor, 1px 0 $blackColor, 0 -1px $blackColor;
    overflow-x: hidden;
    overflow-y: hidden;
    color: $whiteColor;
}

.message-announcement {
    font-weight: bold;
    color: $secondaryColor;
}

.message-info {
    font-weight: bold;
    color: $whiteColor;
}

/* MENU STYLES */
.menuTitle {
    font-family: $secondaryFont;
    font-weight: bold;
    color: inherit;
    font-size: 3vmax;
}

#menuDiv {
    font-size: 2vmax;
    border-radius: 20px;
    color: $whiteColor;
    background-color: $transparentBlackColor;
    border: 2px solid darken($transparentBlackColor, $borderDarkenPercent);
    width: 15vw;
    left: calc(50% - 7.5vw);
    top: 15vh;
    padding: 2vh 1vw;
    text-align: center;
}

.menuButton {
    width: 100%;
    border: 0px solid darken($menuButtonColor, $buttonDarkenPercent);
    background-color: $menuButtonColor;
    border-width: 2px 5px 5px 2px;
    font-size: 1vmax;
    color: $whiteColor;
    cursor: pointer;
    border-radius: 20px;
    padding: 2%;
    font-family: $secondaryFont;
    margin: 0;

}

.menuButton:hover {
    background-color: $blackColor;
    transform: scale(1.1);
}

/* MAP EDITOR STYLES */
#mapEditDiv {
    font-size: 1.5vmax;
    color: $whiteColor;
    background: $blackColor;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2vh 1vw;
    text-align: left;
}

#tileSelect {
    overflow-y: scroll;
}

.tileSelectCanvas {
    background: $whiteColor;
    margin: 0 3px;
    padding: 0;
    cursor: pointer;
    border: 2px solid $whiteColor;
}

#editPreviewTile {
    border: 5px solid $whiteColor;
}

/* Developer stats styles */
#developerStatsDiv {
    top: $uiEdgePadding;
    right: $uiEdgePadding;
    text-align: left;
    border-radius: 5px;
    padding: $defaultUiPadding;
    background-color: $transparentBlackColor;
    border: 2px solid darken($transparentBlackColor, $borderDarkenPercent);
    color: $dullWhiteColor;
    padding: 0 0.3vmax;
    font-size: $uiSmallFontSize;
}

#devStatsTitle {
    font-size: $uiTitleFontSize;
}